.block.block_mxschool_announcements .clearfix:before, .block.block_mxschool_announcements .clearfix:after { display: table; line-height: 0; content: "";}
.block.block_mxschool_announcements .content {max-height: 600px; overflow-x: auto;}
.block.block_mxschool_announcements .announcement-item-body {border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-top: 10px;}
.block.block_mxschool_announcements .announcements-title {font: bold 14px Arial; padding-bottom: 10px;}
.block.block_mxschool_announcements .announcements-course {color: #333;font: bold 12px Arial; margin:-5px 0 10px;}
.block.block_mxschool_announcements .announcements-description {font: 13px/18px Arial;}
.block.block_mxschool_announcements .announcements-description p {margin: 0 0 0.5em;}
.block.block_mxschool_announcements .announcements-date {float: right; font: bold 11px Arial; color: #555;}
.block.block_mxschool_announcements .announcements-user {float: left; font: bold 11px Arial; color: #444;}