
.clear{clear:both;float:none;}
.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
.transition{
transition: all 5s;
transition: background 0.3s ease-out 0s;
transition: background-position 0.2s ease-out 0s, color 0.2s ease-out 0s;
transition: opacity 0.3s ease-out 0s;
transition:border-color 0.3s linear;
transition: color 0.2s linear 0s;
}
.form-label-h3 {margin: 25px 0 15px; border-bottom: 1px solid #e7e7e7; padding-bottom: 7px;}
.mform .advisors-box .onoff-switcher { visibility: visible;margin: 0;position: relative; }
.mform .advisors-box .onoff-switcher input.onoff-switcher {display: none;}
.mform .advisors-box .fitem.fitem_fcheckbox {width: 50%; float: left;}
.mform .advisors-box .fitem.fitem_fcheckbox .fitemtitle {width: 40%; text-align: left;}
.mform .advisors-box .fitem.fitem_fcheckbox .felement.onof-switcher-box {margin-left: 40%;}
.mx-adviser-settings-form #fgroup_id_radioar .felement span {display: block; text-align: left;}

.keep-advisor + label {margin-right: 20px;}
.mx-adviser-select-form .mform #fgroup_id_radioar .felement.fgroup {text-align: left;}
.mx-adviser-select-form .advisors-box .onof-switcher-box {display: none;}
.advisor-text {margin-top: 10px !important; font-style: italic; font-size: 12px;}
.mxschool-search-form {margin-bottom: 10px; text-align: right;}
.mxschool-search-form select,
.mxschool-search-form input {margin-left: 5px;}
.mxschool-preview-box .generaltable th {text-align: left;}
.mxschool-bottom-actions button {margin-right: 5px;}
.mxschool-table-box form .mdl-align {text-align: right; }
.mxschool-table-box .generaltable {margin-top: 15px; width: 100%;}
.mxschool-table-box .generaltable .adv-select-div{ position: relative; display: block; padding-left: 20px;}
.mxschool-table-box .generaltable .adv-select, .mxschool-table-box .generaltable .adv-select-other{ position: absolute; margin-top: 4px; left:0;}
.clone-select-box {margin-top: 3px;}

.table_title_center{text-align: center;}

.onof-switcher-box {margin-bottom: 7px !important;}
.onof-switcher-box label {margin: 0 !important;}
input.onoff-switcher {position: absolute;margin-left: -9999px;visibility: hidden;}
input.onoff-switcher + span {display: block;position: relative;cursor: pointer;outline: none;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
input.onoff-switcher + span { padding: 2px; width: 40px !important; height: 20px; background-color: #dddddd;-webkit-border-radius: 60px; -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px;}
input.onoff-switcher + span:before, input.onoff-switcher + span:after { display: block; position: absolute; top: 1px; left: 1px; bottom: 1px; content: "";}
input.onoff-switcher + span:before { right: 1px; background-color: #f1f1f1; -webkit-border-radius: 60px;-moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; -webkit-transition: background 0.4s; -moz-transition: background 0.4s; -o-transition: background 0.4s; transition: background 0.4s;}
input.onoff-switcher + span:after {background-color: #fff;color: #fff; content: "."; height: 22px; position: absolute; width: 22px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -webkit-transition: margin 0.4s; -moz-transition: margin 0.4s; -o-transition: margin 0.4s; transition: margin 0.4s;}
input.onoff-switcher:checked + span:before { background-color: #8ce196;}
input.onoff-switcher:checked + span:after { margin-left: 20px; }

.mx-jtabs-box {padding:0; border:1px solid #C7C7C7; background-color:#f5f5f5; margin-bottom: 20px;}
.mx-jtabs-box.mx-jtabs-box {background-color:#f5f5f5;}
.mx-jtabs-header {background: #f0f0f0;background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background: linear-gradient(top, #ffffff 0%, #f0f0f0 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); display: table;width: 100%;}
.mx-jtabs-header ul {height: 35px;display: table-row;}
.mx-jtabs-header ul li {border-right: 1px solid #C7C7C7;text-align: center;vertical-align: middle;display: table-cell;text-align:center;height:35px;padding:0 5px;cursor:pointer;width:200px; border-bottom: 1px solid #C7C7C7;}
.mx-jtabs-header ul li:last-child {border-right: 0; }
.mx-jtabs-header ul li.hidden {display:none;}
.mx-jtabs-header ul li a {color: #494949;font: bold 11px/12px Arial;cursor:pointer;}
.mx-jtabs-header ul li:hover {text-decoration:none; background: #f5f5f5;}
.mx-jtabs-header ul li a:hover {text-decoration:none;}
.mx-jtabs-box .mx-jtabs-header ul .active  { background: #f5f5f5; border-bottom: 1px solid transparent;cursor: default;}
.mx-jtabs-box .mx-jtabs-header ul .active a {cursor: default;}
.mx-jtabs-item {position:absolute; top:-5000px; left:-3000px; padding: 15px 20px; opacity:0;}
.mx-jtabs-box .visible {position:relative; opacity:1; top:0; left:0;overflow-x:auto;}
.mx-jtabs-item.load {padding:2% 0; text-align:center;}
.mx-jtabs-item.load .fa-spinner{font-size:32px;}
.mx-jtabs-header ul{padding:0;}
.mx-jtabs-box .mx-jtabs-header.accordion ul li {border-bottom:1px solid #C7C7C7; border-right:0; display:block; height: auto; padding: 8px 0px 7px; width: 100%;}
.mx-jtabs-box .mx-jtabs-header.accordion ul .active {border-bottom:1px solid #C7C7C7;background-color: #dddddd; background-image:none;}

.not-form-item {margin-bottom: 10px;}
.not-form-item label {display: block; margin-bottom: 2px; width: 100%;}
.not-form-item input[type="text"] {width: 30%;}
.notifications-settings .mx-jtabs-item {overflow-x:auto;}
.notifications-table {width:100%;}
.notifications-table tr th {border:1px solid #dddddd; background-color:#eeeeee; color:#333333; font:bold 11px Arial;text-align:left; vertical-align:middle;padding:2px 5px;}
.notifications-table tr th.center {text-align:center;}
.notifications-table tr td {border:1px solid #dddddd; color:#444444;padding:3px; text-align:left; vertical-align:bottom; font:12px Arial;}
.notifications-table .not-category {padding:7px 3px;}
.notifications-table tr .types {width:50px; }
.notifications-table tr .actions {width:50px; text-align:center; vertical-align:middle; }
.notifications-table tr .actions .btn-xs {font-size: 10px; padding: 3px;text-transform: uppercase; width: 32px;}
.notifications-table tr .actions .actions-trigger {font-size: 14px; cursor:pointer;}
.notifications-table tr.disabled {opacity:0.7;}
.notifications-table tr.disabled .actions-trigger {cursor:default;}
.notifications-table tr.not-formbox td{padding:0;display:none;}
.notifications-table tr.not-formbox.active td{padding:3px; display:table-cell;}
.notifications-table tr.not-formbox .not-form-box{display:none;}
.not-form-box .fa-check.green {padding: 5px; font-size: 14px;}
.not-form-box .fa-check.green span {font-size: 14px;}
.not-form-items-f button {padding: 6px 15px;}

.notifications-settings .not-list { padding: 0; margin:0; list-style: none;}
.notifications-settings .not-list li { background-color: #ffffff; border: 1px solid #ddd; border-left: 3px solid #ccc; border-radius: 2px; padding: 7px 12px; margin-bottom:8px; position:relative; opacity:0.7;}
.notifications-settings .not-list li.active { border-left:3px solid #69b076; opacity:1;}
.notifications-settings .not-list li .not-box { position:relative;}
.notifications-settings .not-list li .desc-box { float:left; width:70%;}
.notifications-settings .not-list li .name {color: #555; font-size: 15px;padding: 3px 0;}
.notifications-settings .not-list li .desc {font: 12px Arial; padding: 0 0 7px;}
.notifications-settings .not-list li .actions-box {float:right; width:30%;}
.notifications-settings .not-list li .actions {position: absolute; right: 12px; top: 60%; margin-top:-15px;}
.notifications-settings .not-list li .actions span{ height: 23px;line-height: 23px; padding: 0; width: 45px; text-transform:uppercase; display: inline-block; text-align: center;}
.notifications-settings .not-list li .actions span i { line-height: 23px; }
.notifications-settings .not-list li .not-form-box { display:none; min-height:100px; border-top:1px solid #e7e7e7; position:relative; margin-top: 7px;}
.notifications-settings .not-list li .not-form-box i.fa-spin{ font-size: 25px; left: 50%; margin-left: -10px; margin-top: -10px; position: absolute;top: 50%;}
.notifications-settings .not-list li .not-form-box i.fa-check{ font-size: 18px; margin-top: 38px; position: relative; left:0; top:0;}
.notifications-settings .not-list li .not-form-box i.fa-check span{ font-size:15px;}
.notifications-settings .not-list li .not-form-box.center{ text-align:center;}
.notifications-settings .not-list li .not-form-box .not-form-items-f{border-right: 1px solid #eee; float: left; margin-top: 14px; padding: 0; width: 55%;}
.notifications-settings .not-list li .not-form-box .not-form-items-d{float: left; padding: 10px 0 0; width: 43%; margin-top:5px;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item {width: 90%;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item input, .notifications-settings li .not-form-box .not-form-items-f .not-form-item select{width: 100%;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item label {font:12px Arial;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item .classyedit {min-height:150px; font:12px Arial;}
.notifications-settings .not-list li .not-form-box .not-form-items-f .not-form-item button {font: 13px Arial; width:70px;}
.notifications-settings .not-list li .not-form-description {padding-left: 15px;}
.notifications-settings .not-list li .not-form-description h3 {	font-size: 15px; margin-bottom: 2px; margin-top: 10px;}
.notifications-settings .not-list li .not-form-description span {display: block;font-size: 13px;padding: 2px 0;}
.notifications-settings .not-list li .not-form-description span strong {font-style:italic; font-weight: bold;}
.notifications-settings .mx-jtabs {background-color: transparent;}

.before-table{text-align: right;margin-bottom: 15px;}
/*===== Buttons =====*/


a.btn.btn, a.btn-primary.btn-primary {border-radius: 3px; padding: 6px 25px; box-shadow: none; font-size: 13px; text-shadow: none; margin:0 0 10px 0px; background-color: rgba(109, 0, 26, 1); background-image: none; border: 1px solid #6d001a; color: #fff;cursor:pointer;}
.btn.after-table.after-table{ display: inline-block;margin-bottom: 0; margin-top: 10px;}
a.btn.btn:hover {background-color: rgba(109, 0, 26, 0.8); background-image: none; border: 1px solid #6d001a; color: #fff;cursor:pointer;}
a.btn.btn:focus {background-color: rgba(109, 0, 26, 0.8); background-image: none; border: 1px solid #6d001a; color: #fff;}

button.btn, input[type="submit"].btn { *padding-top: 3px; *padding-bottom: 3px; }
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner { padding: 0; border: 0; }
button.btn.btn-large, input[type="submit"].btn.btn-large { *padding-top: 7px; *padding-bottom: 7px; }
button.btn.btn-small, input[type="submit"].btn.btn-small { *padding-top: 3px; *padding-bottom: 3px; }
button.btn.btn-mini, input[type="submit"].btn.btn-mini { *padding-top: 1px; *padding-bottom: 1px; }
.btn-link, .btn-link:active, .btn-link[disabled] { background-color: transparent; background-image: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.btn-link { color: #0088cc; cursor: pointer; border-color: transparent; }
.btn-link:hover { color: #005580; text-decoration: underline; background-color: transparent; }
.btn-link[disabled]:hover { color: #333333; text-decoration: none; }
.btn-primary:hover, .btn-info:hover, .btn-warning:hover, .btn-success:hover, .btn-danger:hover, .btn-inverse:hover { color: #ffffff; }
.btn > b, .modal-footer i { margin-right: 6px; font-size: 12px; }
.btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #fefefe; }
.btn:first-child { *margin-left: 0; }
.btn:focus { outline: 0; }
.btn.active, .btn:active { background-image: none; outline: 0;
  -webkit-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled, .btn[disabled] { cursor: default; background-image: none; color: #999; opacity: 0.65; filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
.btn-danger.disabled,
.btn-danger[disabled],
.btn-info.disabled,
.btn-info[disabled],
.btn-success.disabled,
.btn-success[disabled],
.btn-warning.disabled,
.btn-warning[disabled],
.btn-inverse.disabled,
.btn-inverse[disabled] 
{ color: #fff; }

.btn-large { padding: 9px 14px 9px 14px; height: auto; font-size: 13px; }
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] { margin-top: 4px; }
.btn-small { padding: 7px 10px 6px 10px; height: auto; font-size: 11px; }
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] { margin-top: 0; }
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] { margin-top: -1px; }
.btn-mini { padding: 6px 8px 5px 8px; height: auto; font-size: 11px; }
.btn-block { display: block; width: 100%; padding-right: 0; padding-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn-block + .btn-block { margin-top: 5px; }
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { width: 100%; }
a.btn { line-height: 13px; }

.btn-warning {
  color: #ffffff;
  text-shadow: none;
  background-color: rgba(201, 130, 60, 1);
  background-image: none;
  border: 1px solid #c9823c;
}
.btn-warning:active, .btn-warning:active, .btn-warning:hover, .btn-warning.disabled, .btn-warning[disabled], .btn-warning:focus { 
    color: #ffffff;
    text-shadow: none;
    background-color: rgba(201, 130, 60, 0.8);
    background-image: none;
    border: 1px solid #c9823c; 
}

.btn-danger {
    color: #ffffff;
    text-shadow: none;
    background-color: rgba(192, 83, 67, 1);
    background-image: none;
    border: 1px solid #c05343; 
}
.btn-danger:active, .btn-danger:hover, .btn-danger:focus, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { color: #ffffff;
    text-shadow: none;
    background-color: rgba(192, 83, 67, 0.8);
    background-image: none;
    border: 1px solid #c05343; 
}
.btn-success {
    color: #ffffff;
    background-color: rgba(76, 161, 91, 1);
    border: 1px solid #4CA15B;
    background-image: none; 
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-image: none; 
    background-color: rgba(76, 161, 91, 0.8); 
    border: 1px solid #4CA15B;
}

.btn-info {
    color: #ffffff;
    background-color: rgba(56, 158, 188, 1);
    border: 1px solid #389ebc;
    background-image: none; 
}
.btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { background: #46abc9; color: #fff; }

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #4a4a4a;
  background: -moz-linear-gradient(top, #5e5e5e, #4a4a4a);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5e5e5e), to(#4a4a4a));
  background: -webkit-linear-gradient(top, #5e5e5e, #4a4a4a);
  background: -o-linear-gradient(top, #5e5e5e, #4a4a4a);
  background: linear-gradient(to bottom, #5e5e5e, #4a4a4a);
  border-color: #4a4a4a;
}
.btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { background: #545454; color: #fff; }

.mxschool-announcements-form #fitem_id_courseid {display: none;}
.mx-transportation-form .mform .fitem fieldset.felement {text-align: left; margin-left: 16%; padding-left: 0;}
.mx-transportation-form .mform .fgroup span label {margin-right: 20px; margin-left:-3px !important;}
.mx-transportation-form.st-form #fitem_id_studentid, .mx-transportation-form.st-form #fitem_id_dorm {display:none !important;}
.transportion-table .tr_details {font: 11px Arial;}
.transportion-table .tr_details label {font: italic bold 11px Arial; margin-right: 5px;}
.transportion-table .input-append.datetimepicker {margin: 3px 0; display: block; position: relative;}
.transportion-table .email-depart-label, .transportion-table .email-return-label {text-align:center;}
.transportion-table .email-depart-label input, .transportion-table .email-return-label input {margin-right: 0;}
.transportion-table .cell.c12 {text-align:center;}
.transportion-table .saved {color: green;display: block; font: italic bold 12px Arial; margin-top: 5px;}
.mxschool-table-box .saved {color: green;display: block; font: italic bold 12px Arial; margin-top: 5px;}

.mform .input-append.datetimepicker {display: block;}

.tutors-form .mform .fitem .felement.fgroup span{ display: block;}

.path-local-mxschool-rooming .mform .hide-label .fitem .fitemtitle { visibility: hidden;}
.path-local-mxschool-rooming .mform .fitem .fitemtitle {width: 20%;min-height: 1px;}
.path-local-mxschool-rooming .mform .fitem .felement {margin-left: 21%;}

.mxschool-preferences-box .fitem.fitem_fgroup .felement.fgroup span {margin-right: 17px;}
.mxschool-preferences-box input[type=checkbox], .mxschool-preferences-box input[type=radio] {margin-right: 0;}

#fitem_dormate1 .felement.fselect, #fitem_dormate4 .felement.fselect {padding-top: 18px;}

.table-comments h5{text-align: center;font-size: 14px;margin: 20px 0;text-decoration: underline;font-weight: 600;}
.table-comments ul{margin: 0; padding:0;}
.table-comments ul li{ float: left;margin-bottom: 50px;margin-left: 1%;width: 49%;text-decoration: underline; display: block;}
.print-table .mform .fsubmit{text-align: left;}



.mxschool-table-box .onoff-switcher + span{margin-bottom: 10px;}

.mxschool-table-box.no-full-table .generaltable{margin: auto;width: auto;}
.mxschool-table-box.no-full-table .generaltable th{min-width: 70px;}

.mxschool-table-box.small_table td,
.mxschool-table-box.small_table th{font-size: 12px;}

.fitem:not(#fgroup_id_license) .hide-license{ display: none;}
.mxschool-table-box .felement.fgroup .hide-license,
.mxschool-table-box .felement.fgroup .remove-license{margin-left: 10px; cursor: pointer; color: #000;}
.mxschool-table-box .felement.fgroup .hide-license .fa,
.mxschool-table-box .felement.fgroup .remove-license .fa{margin-right: 5px;}
.mxschool-table-box .mform #add-license{margin-left: 15%;padding-left: 1%; margin-top: 10px; cursor: pointer; display: inline-block;}
.mxschool-table-box .mform #add-license .fa{margin-right: 5px;}
.mxschool-table-box .mform .signature{margin-top: 25px; display: none;}
.mxschool-table-box #fgroup_id_license.license-hidden + .additional-license{margin-top: -21px;}

.weekend_checkin_table td > button{margin-top: 10px;min-width: 100px; display: none;}

.action_buttons_perm {background-color: #efefef;border: 1px solid #f00;color: #f00;display: none;margin-left: 16% !important;max-width: 400px;padding: 0.5em;}
.action_buttons_perm.action_buttons_perm .felement.fgroup{margin: 0;text-align: center;width: 100%;}

.weekend_calculator_table table td.red{background-color: #ff5aa0!important; color: #000!important;}
.weekend_calculator_table table td.yellow{background-color: #eeee00!important; color: #000!important;}
.weekend_calculator_table table td.green{background-color: #d2ffd2!important; color: #000!important;}

table.flexible th, .generaltable th, table.flexible td, .generaltable td {border: 1px solid #ddd !important;}

@media print{
    .print-table #region-main{width: 100%;}
    .print-table header,
    .print-table #block-region-side-pre,
    .print-table #page-header,
    .print-table #page-footer,
    .print-table #region-pre,
    .print-table #page-footer-bottom,
    .print-table #print-table,
    .print-table #page > .navbar{display: none;}
    .print-table #page-content #region-main{margin-left: 0!important;}
    .print-table #page-wrapper{margin: 0!important; padding: 0 !important;width: 100% !important;}
    .print-table table td,
    .print-table table th{border: 1px solid #000!important;}
    .print-table table th a{font-weight: 400; color: #000;}
    .print-table {color: #000!important;}
    .print-table .table_title_center{font-weight: 400;font-size: 16px;}

    .print-table .mform fieldset .fitemtitle,
    .print-table .mform fieldset{text-align: center!important;}
    .print-table .mform fieldset div{margin: 0;}
    .print-table .mform .error, .print-table .mform .required{ color: #000;}
    .print-table .mform .error, .print-table .mform .required{ color: #000;}
    .print-table .mform label .adv,
    .print-table .mform label .req,
    .print-table .fdescription,
    .print-table .fitem_fsubmit,
    .print-table .visibleifjs,
    .print-table .fitem_fgroup.fitem_actionbuttons,
    .print-table #add-license,
    .print-table .remove-license{ display: none!important;}
    .print-table input{border: none!important;text-align: center;}
    .print-table select{-webkit-appearance: none;-moz-appearance: none;appearance: none;border: none!important;text-align: center;}
    .mxschool-table-box .mform .signature{ display: block;}

    .print-table .weekend_calculator_table table th{writing-mode:vertical-rl;min-width: 10px; padding:3px;}
    .print-table .weekend_calculator_table table th:nth-child(1),
    .print-table .weekend_calculator_table table th:nth-child(2),
    .print-table .weekend_calculator_table table th:nth-last-child(1),
    .print-table .weekend_calculator_table table th:nth-last-child(2){writing-mode:horizontal-tb;}
    .print-table .weekend_calculator_table table td{text-align: center;}
    .print-table .weekend_calculator_table table td:nth-child(1),
    .print-table .weekend_calculator_table table td:nth-last-child(1){text-align: left;}
    
    .print-table .legend-table{ display: none;}
    .print-table.manage-students .mxschool-search-form {display: none;}
    .print-table.manage-students .flexible.generaltable th:last-child,
    .print-table.manage-students .flexible.generaltable td:last-child {display: none;}
}
